<!DOCTYPE html>
<html lang="en">
<head>
    <title>FWF DMP Template</title>
    <style type="text/css">
        body {
            background-color: white;
            color: black;
            font-family: Arial, sans-serif;
            font-size: 11pt;
        }
        h1 {
            font-size: 14pt;
        }
        h2, h3 {
            font-size: 12pt;
        }
        table {
            border-collapse: collapse;
        }
        th {
            text-align: left;
            /* vertical-align: top; */
            border: 1px solid black;
            padding: 5px;
        }
        td {
            /* vertical-align: top; */
            border: 1px solid black;
            padding: 5px;
        }
        td p {
            margin: 0;
        }
        .col1 {
            width: 1.18cm;
        }
        .col2 {
            width: 6.17cm;
        }
        .col3 {
            width: 18.85cm;
        }
        ul {
            margin: 0;
            padding-left: 20px;
        }
        .chapter {
            background-color: #4F81BD;
            color: white;
            vertical-align: center;
            height: 25px;
        }
        .ul {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>{{ title }}</h1>
    
    <table>
        <thead>
            {% if dmp_id %}<th><span>ID ({{ dmp_id.dmp_id_type }})</span></th>{% endif %}
            <th><span>Created</span></th>
            <th><span>Modified</span></th>
            <th><span>Language</span></th>
            {% if description %}<th><span>Description</span></th>{% endif %}
        </thead>
        <tbody>
            {% if dmp_id %}<td><span>{{ dmp_id.dmp_id }}</span></td>{% endif %}
            <td><span>{{ created }}</span></td>
            <td><span>{{ modified }}</span></td>
            <td><span>{{ language }}</span></td>
            {% if description %}<td><span>{{ description }}</span></td>{% endif %}
        </tbody>
    </table>
    <br/>
    <table>
        <tbody>
            <tr>
                <th class="col1" style="border: 0"></th>
                <th class="col2">Data Officer</th>
                <td class="col3">
                    {{ contact.name }}, <a href="mailto:{{ contact.mail }}">{{ contact.mail }}</a>
                    <br/>
                    {{ contact.contact_id.contact_id }}
                    ({{ contact.contact_id.contact_id_type }})
                </td>
            </tr>
            <tr class="chapter">
                <th>I</th><th colspan="2">Data Characteristics</th>
            </tr>
            <tr>
                <th>I.1</th><th>Description of the data</th>
                <td>
                    {% if dm_staff %}
                        <strong>Collaborators:</strong>
                        {% for s in dm_staff %}
                            <p class="ul">
                                {{ s.contributor_type|capitalize }}
                            </p>
                            <p>{{ s.name }}
                            {% if s.mbox %}
                                - <a href="mailto:{{ s.mbox }}">{{ s.mbox }}</a>
                            {% endif %}
                            </p>
                            {% if s.staff_id %}
                                <p>{{ s.staff_id.staff_id }} ({{ s.staff_id.staff_id_type }})</p>
                            {% endif %}
                            <br/>
                        {% endfor %}
                    {% endif %}

                    {% if project|length == 1 %}
                        <strong>Dataset:</strong>
                    {% else %}{% if project|length >= 2 %}
                        <strong>Datasets:</strong>
                    {% endif %}{% endif %}
                               
                    {% for d in dataset %}
                        <p class="ul">{{ d.title }}</p>
                        {% if d.description %} 
                            <p>{{ d.description }}</p>
                        {% endif %}

                        <p>Type: {{ d.type }}</p>

                        {% if d.language %} 
                            <p>Language: {{ d.language }}</p>
                        {% endif %}

                        {% if d.keyword %} 
                            <p>Keywords: {{ d.keyword|join(', ') }}</p>
                        {% endif %}
                        <br/>
                    {% endfor %}

                    {% if project|length == 1 %}
                        <strong>Project:</strong>
                    {% else %}{% if project|length >= 2 %}
                        <strong>Projects:</strong>
                    {% endif %}{% endif %}

                    {% for p in project %}
                        <p><span class="ul">{{ p.title }}:</span>
                        {% if p.description %}
                            {{ p.description }}
                        {% endif %}
                        </p>
                        <p>Start: {{ p.start }}</p>
                        <p>End: {{ p.end }}</p>
                        {% if p.funding %}
                            <p>Funding ID: {{ p.funding.funder_id.funder_id }} 
                                ({{ p.funding.funder_id.funder_id_type }}) </p>
                            {% if p.funding.funding_status %}
                                <p>Funding status: {{ p.funding.funding_status }} </p>
                            {% endif %}
                            <p>Grant ID: {{ p.funding.grant_id.grant_id }} 
                                ({{ p.funding.grant_id.grant_id_type }})</p>
                        {% endif %}
                        <br/>
                    {% endfor %}
                </td>
            </tr>
            <tr class="chapter">
                <th>II</th><th colspan="2">Documentation and Metadata</th>
            </tr>
            <tr>
                <th>II.1</th><th>Metadata standards</td>
                <td>
                    {% for d in dataset %}
                        {% if dataset|length > 1 %}
                            <p class="ul">Dataset: "{{ d.title }}"</p>
                        {% endif %}
                        {% if d.metadata %}
                            {% for m in d.metadata %}
                                {% if m.description %}
                                    <p>{{ m.description }}</p>
                                {% endif %}
                                <p>Language: {{ m.language }}</p>
                                <p>ID: {{ m.metadata_id.metadata_id }} 
                                    ({{ m.metadata_id.metadata_id_type }})</p>
                            {% endfor %}
                        {% endif %}
                        <br/>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>II.2</th><th>Documentation of data</th>
                <td>
                    {% for d in dataset %}
                        {% if dataset|length > 1 %}
                            <p class="ul">Dataset: "{{ d.title }}"</p>
                        {% endif %}

                        {% if d.issued %}
                            <p>Issued: {{ d.issued }}</p>
                        {% endif %}

                        {% if project|length == 1 %}
                            <p>Technical resource:</p>
                        {% else %}{% if project|length >= 2 %}
                            <p>Technical resources:</p>
                        {% endif %}{% endif %}
                        
                        {% if d.technical_resource %}
                            <ul>
                            {% for t in d.technical_resource %}
                                <li>{{ t.resource_id.technical_resource_id }}
                                    ({{ t.resource_id.technical_resource_id_type }}): 
                                    {{ t.description }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        <br/>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>II.3</th><th>Data quality control</th>
                <td>
                    {% for d in dataset %}
                        {% if d.data_quality_assurance %}
                            {% if dataset|length > 1 %}
                                <span class="ul">Dataset: "{{ d.title }}"</span>
                            {% endif %}
                            <ul>
                            {% for q in d.data_quality_assurance %}
                                <li>{{ q }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        <br/>
                    {% endfor %}
                </td>
            </tr>

            <tr class="chapter">
                <th>III</th><th colspan="2">Data availability and storage</th>
            </tr>
            <tr>
                <th>III.1</th><th>Data sharing strategy</th>
                <td>
                    {% for d in dataset %}
                        {% if dataset|length > 1 %}
                            <span class="ul">Dataset: "{{ d.title }}"</span>
                        {% endif %}
                        
                        {% if d.dataset_id %}
                            {% for did in d.dataset_id %}
                                <p>ID-{{ loop.index }}: {{ did.dataset_id }}
                                    ({{ did.dataset_id_type }})</p>
                            {% endfor %}
                        {% endif %}

                        {% if d.distribution %}
                            {% for di in d.distribution %}
                                <p><span class="ul">{{ di.title }}:</span>
                                    {% if di.description %}
                                        {{ di.description }}
                                    {% endif %}
                                </p>
                                {% if di.available_till %}
                                    <p>Available till: {{ di.available_till }}</p>
                                {% endif %}
                                {% if di.byte_size %}
                                    <p>Size: {{ di.byte_size }}</p>
                                {% endif %}
                                <p>Data access: {{ di.data_access }}</p>
                                {% if di.download_url %}
                                    <p>URL: {{ di.download_url }}</p>
                                {% endif %}
                                {% if di.format %}
                                    <p>Format: {{ di.format }}</p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <br/>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>III.2</th><th>Data storage strategy</th>
                <td>
                    {% if cost %}
                        <p><strong>Cost(s)</strong></p>
                        <p>
                            <ul>
                            {% for c in cost %}
                                <li>{{ c.title }}: 
                                    {% if c.description %}
                                        {{ c.description }} <br/>
                                    {% endif %}
                                    {% if c.value and c.currency_code %}
                                        {{ c.value }} {{ c.currency_code }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                        </p>
                        <br/>
                        {% for d in dataset %}
                            {% if dataset|length > 1 %}
                                <span class="ul">Dataset: "{{ d.title }}"</span>
                            {% endif %}
                            {% if d.distribution %}
                                {% for di in d.distribution %}
                                    {% if di.host %}
                                        <p class="ul">{{ di.title }}</p>
                                        <ul>
                                            <li>{{ di.host.title }}</li>
                                            {% if di.host.description %}
                                                <li>{{ di.host.description }}</li>
                                            {% endif %}
                                            {% if di.host.backup_frequency %}
                                                <li>{{ di.host.backup_frequency }}</li>
                                            {% endif %}
                                            {% if di.host.backup_type %}
                                                <li>{{ di.host.backup_type }}</li>
                                            {% endif %}
                                            {% if di.host.certified_with %}
                                                <li>{{ di.host.certified_with }}</li>
                                            {% endif %}
                                            {% if di.host.geo_location %}
                                                <li>{{ di.host.geo_location }}</li>
                                            {% endif %}
                                            {% if di.host.pid_system %}
                                                <li>{{ di.host.pid_system }}</li>
                                            {% endif %}
                                            {% if di.host.support_versioning %}
                                                <li>{{ di.host.support_versioning }}</li>
                                            {% endif %}
                                        </ul>
                                        <br/>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>

             <tr class="chapter">
                <th>IV</th><th colspan="2">Legal and ethical aspects</th>
            </tr>
            <tr>
                <th>IV.1</th><th>Legal aspects</th>
                <td>
                    {% for d in dataset %}
                        {% if dataset|length > 1 %}
                            <span class="ul">Dataset: "{{ d.title }}"</span>
                        {% endif %}
                        {% if d.distribution %}
                            {% for di in d.distribution %}
                                {% if d.distribution|length > 1 %}
                                    <span class="ul">Distribution: "{{ d.title }}"</span>
                                {% endif %}
                                
                                {% if di.license|length == 1 %}
                                    <p>License:</p>
                                {% else %}{% if di.license|length >= 2 %}
                                    <p>Licenses:</p>
                                {% endif %}{% endif %}
                                
                                {% if di.license %}
                                    <ul>
                                    {% for l in di.license %}
                                        <li>
                                            Valid from: {{ l.start_date }}<br/>
                                            {{ l.license_ref }}
                                        </li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <br/>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>IV.2</th><th>Ethical aspects</th>
                <td>
                    {% for d in dataset %}
                        {% if dataset|length > 1 %}
                            <span class="ul">Dataset: "{{ d.title }}"</span>
                        {% endif %}

                        <p>Personal data: {{ d.personal_data }}</p>

                        {% if d.preservation_statement %}
                            <p>Preservation statement: {{ d.preservation_statement }}</p>
                        {% endif %}
                        {% if d.security_and_privacy %} 
                            <p>Security & privacy: {{ d.security_and_privacy.title }}</p>
                            {% if d.security_and_privacy.description %}
                                <p>{{ d.security_and_privacy.description }}</p>
                            {% endif %}
                        {% endif %}

                        <p>Sensitive data: {{ d.sensitive_data }}</p> 
                        <br/>
                    {% endfor %}
                    
                    <p>Ethical issues: {{ ethical_issues_exist }}</p>
                    {% if ethical_issues_description %}
                        <p>{{ ethical_issues_description }}</p>
                    {% endif %}
                    {% if ethical_issues_report %}
                        <p>{{ ethical_issues_report }}</p>
                    {% endif %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>

